<header>
    <div id="header-div">
        <div><h2>Quotes App</h2></div>
      <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Get inspired</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
      </nav>
    </div>
</header>
<div class="container">
    <div id="quoteform"><app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form></div><br>
    <div class='row container'>
        <div id="quotediv">
            <div *ngFor='let quote of quotes;let i = index'>
                <div>
                    <div><span id="{{i}}">{{quote.id}}) "{{quote.quoteWords}}"</span></div>
                        <div style="text-align:right"><strong>-{{quote.author}}</strong></div>
                    <p (click)='toogleDetails(i)' class="container">Quote details</p>
                </div>    
                <div *ngIf="quote.showDescription" >
                  <app-quote-details  (addQuote)="addNewQuote($event)" [quote]='quote'></app-quote-details>
                </div>
            </div>  
        </div> 
    </div>
</div>
<footer>
    <p>Copyright 2020 | Quotes App | All rights reserved</p>
</footer>
