header{
    display: flex;
    width:100%;
    justify-content: space-between;
    background-color:rgb(64, 204, 209);
    position: relative;
    padding-top:15px;
    padding-left:30px;
    color:white;
    
}
nav{
    text-align: right;
}
nav li{
    display: inline-block;
   margin-right:25px;
   list-style: none;
}
nav a{
    text-decoration:none;
    color:white;
}
footer{
    text-align:center;
    background-color: rgb(220,220,220);
    padding:30px;
    color:rgb(70,70,70);
}