header{
    display: flex;
    width:100%;
    justify-content: space-between;
    background-color:lightskyblue;
    position: relative;
    padding:15px;
    
}
nav{
    text-align: right;
}
nav li{
    display: inline-block;
   margin-right:25px;
   list-style: none;
}
nav a{
    text-decoration:none;
    color:black;
}