<header>
    <div id="header-div">
        <div><h2>Quotes App</h2></div>
      <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Get inspired</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
      </nav>
    </div>
</header>
<div class="container">
    <div class='row container'>
        <div id="quoteform" class="col-sm-4"><app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form></div><br>
        <div id="quotediv" class="col-sm-8">
            <div *ngFor='let quote of quotes;let i = index'>
                <div>
                    <div>
                        <span id="{{i}}" appHigherUpvotes *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.id}}. "{{quote.quoteWords}}"</span>
                        <span id="{{i}}" *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.id}}. "{{quote.quoteWords}}"</span>
                    </div>
                        <div style="text-align:right"><strong>-{{quote.author}}</strong></div>
                    <span (click)='toogleDetails(i)' class="container details">Quote details</span><br><br>
                </div>    
                <div *ngIf="quote.showDescription">
                  <app-quote-details  (addQuote)="addNewQuote($event)" [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
                </div>
            </div>  
        </div> 
    </div>
</div>
<footer>
    <p>Copyright 2020 | Quotes App | All rights reserved</p>
</footer>
